<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAIK0m8odVqQYimBspHtJJ6WDlFKka9F04</string>
	<key>GCM_SENDER_ID</key>
	<string>851708687289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>samparker.Multi-UserLocationSharing</string>
	<key>PROJECT_ID</key>
	<string>multi-user-location-sharing</string>
	<key>STORAGE_BUCKET</key>
	<string>multi-user-location-sharing.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:851708687289:ios:85ddb8846716ba22cb7c68</string>
</dict>
</plist>